.reset-password-page{
    background:url('../../assets/pexels-simon-berger-1183099.jpg');
    /* background: url('https://images.pexels.com/photos/1629998/pexels-photo-1629998.jpeg?auto=compress&cs=tinysrgb&w=600'); */
    background:url(../../assets/macos-big-sur-apple-layers-fluidic-colorful-wwdc-stock-4096x2304-1455.jpg);
    background:url(../../assets/upside-down-curved-sheets-paper.jpg);
    /* background: url(../../assets/luca-micheli-ruWkmt3nU58-unsplash.jpg); */
    /* background: rgb(177,146,61); */
/* background: linear-gradient(42deg, rgba(177,146,61,1) 0%, rgba(176,173,131,1) 20%, rgba(87,157,99,1) 40%, rgba(92,166,158,1) 60%, rgba(86,103,174,1) 80%, rgba(73,43,210,1) 100%); */
    /* background-size: 400% 400%; */
    /* background: ; */
    background-size: cover;
    /* animation: gradient 15s ease infinite; */
    background-repeat:no-repeat;
    background-position:center;
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.reset-password-form{
    background:rgba(0, 0, 0, 0.566);
    width: 600px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.reset-password-form > .time-show-wrapper{
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #fff; */
    font-size: 4rem;
    color: white;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.reset-password-form > .account-using{
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #fff; */
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    letter-spacing: 0.5rem;
}
.pass-reset-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}
.form-group{
    width: 90%;
    margin: 0px auto;
}
.form-group > input::placeholder{
    color: #444;
}
.form-group > label{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.form-group > button{
    margin: 0px auto;
    text-align: center;
}
.reset-password-text{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
}
.reset-password-text-1{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
    letter-spacing: 0.3rem;
}
.form-group-unlabelled{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.reset-to-login,
.reset-to-signup{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 0rem 0rem;
}
.reset-to-login > .link,
.reset-to-signup > .link{
    color: #5ADAA6;
    text-decoration: none;
    font-weight: 600;
}